.navbar{
    display: flex;
    padding: 1em;
    justify-content: space-between;
    background-color: #222;

}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1em;
}

.item a{
    text-decoration: none;
    color: white;
}

.item a:hover{
    text-decoration: none;
    color: #ffbb33;
}